
fastfeed-mobile/.DS_Store
.vscode/launch.json
fastfeed-mobile/fastfeed/ios/GoogleService-Info.plist
fastfeed-mobile/fastfeed/android/app/google-services.json
waffle-rip/sample.json
waffle-rip/input.json
waffle-rip/output.csv
waffle-rip/ProjectBacklog.csv
waffle-rip/SprintGoalBacklog.txt
.DS_Store
fastfeed-mobile/.idea/codeStyles/Project.xml
fastfeed-mobile/.idea/vcs.xml
fastfeed-mobile/.idea/workspace.xml
